.esquina{
	display: flex;
	width: 5%;
	height: 30px;
	border-radius: 100%;
	background: skyblue;
	float: left;
	margin-right: 20px;

}
.padre {
	background: #e3dac9;
	position: relative;
	display: flex; /*pone a lado las lista del navegador*/
}
.yo{
	width: 750px;
	height: 80px;
	text-align: left;
	font-size: 25px;
}
.yo a{
	text-decoration: none;
	color: black;
}

.nave {

	margin-top: 20px;
	list-style: none;
	width: 700px;
	height: 40px;
	text-align: right; /* lleva las letras a la equina*/
}

.nave li {
	display: inline; /*pone los elementos horizontales */
	border-right: 2px solid gray;

}

.nave a{
	text-decoration: none;
	color: gray;
	font-size: 20px;
	margin-left: 8px;
	margin-right: 10px;
}
.todo{
	display: flex;
}

.izquierda{
text-align: center;
width: 50%;
margin-left: 100px;
margin-top: 110px;
border-right: 2px solid gray;
}
.perfil img{
	width: 100px;
	margin-left: 170px;
	border-radius: 50%;
	margin-top: 40px;
}
.nombre{
	width: 50%;
	text-align: center;
	font-family: arial;
}

.sobremi{
	width: 50%;
	text-align: center;
	border-bottom: 2px solid gray;
	font-family: arial;
}
.experiencia{
	width: 50%;
	text-align: center;
	font-family: arial;
}
.info{
	width: 50%;
	float: right;
	font-family: arial;

}



@media screen and (max-width: 1250px){

	.nave{
		padding-left: 20px;
	}

	.nave ul li a{
		font-size: 10px;
	}
	.imagen{
		background: grey;
		width: 70%;
	}
	.imagen img{
		
	}
	.prescir{
		text-align: center;
		margin-top: 100px;
		margin-right: 10%;
	}
	.curri{
		height: 110px;
	}
	.curri a{
		font-size: 16px;
	}
	.proye{
		height: 110px;
	}
	.proye a{
		font-size: 16px;
	}
	.contac{
		height: 110px;
	}
	.contac a{
		font-size: 15px;
	}

}


@media screen and (max-width: 800px){
	.padre{
		
	}
	.esquina{
		display: none;
	}

	.yo{
		text-align: right;
	}
	.nave li{
 display: none;
 transform: scale(8);
	}
	.nave i{
		display: block;
		font-size: 40px;
	}
	
}
